.app {
  font-family: 'Roboto', 'Roboto Slab', 'Inter', 'Source Sans Pro', sans-serif;
  min-height: 100%;
  width: 100%;
  background-color: white;
}
@media all and (max-width: 768px) {
  .app {
    max-width: 768px;
  }
}