.header {
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(196,196,196, 0.1);
    margin-bottom: 80px;
    max-width: 1440px;
    height: 80px;
    padding-left: 104px;
    padding-right: 104px;
    justify-content: space-between;
    box-sizing: border-box;
}
.header__logo {
    width: 200px;
    line-height: 24px;
    margin-top: 30px;
    size: 20px;
    color: white;
    style: normal;
    font-family: 'Roboto Slab';
    font-weight: 700;
}
.header__text-box {
    display: flex;
    flex-direction: row;
}
.header__saved-news-link {
    max-width: 178px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    color: #b6bcbf;
    text-decoration-line: none;
}
.header__main-link-selected {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    color: white;
    height: 24px;
    margin-top: 30px;
    margin-right: 34px;
    height: 50px;
    box-shadow: inset 0px -3px 0px white;
}
.header__authorize {
    font-family: 'Roboto';
    width: 210px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    background-color: transparent;
    background-image: url(../../images/Rectangle.svg);
    color: white;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 7px;
    margin-left: 20px;
}
.header__saved-news-link_for-mobile {
    max-width: 178px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    color: #b6bcbf;
    text-decoration-line: none;
}
.header__main-link-selected_for-mobile {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    color: white;
    height: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.header__authorize_for-mobile {
    font-family: 'Roboto';
    height: 56px;
    min-width: 200px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    background-color: transparent;
    background-image: url(../../images/Rectangle.svg);
    color: white;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 22px;
    margin-left: -10px;
}
.header__toggle {
opacity: 0;
}
.header__button-for-mobile {
    display: none;
}
.header__box-for-mobile {
    position: relative;
    padding-left: 10px;
    list-style: none;
    display: block;
   visibility: hidden;
   left: -100%;
}
@media all and (max-width: 1250px) {
    .header {
        max-width: 768px;
        padding-right: 40px;
        padding-left: 40px;
    }
    .header__authorize {
        max-width: 152px;
    }
    .header__saved-news-link {
        width: 160px;
        font-size: 16px;
    }
    .header__main-link-selected {
        max-width: 64px;
        font-size: 16px;
    }
  }
  @media all and (max-width: 650px) {
    .header {
        max-width: 320px;
        background-color: #1A1B22;
        height: 286px;
        margin-bottom: 30px;
        flex-direction: column;
    }
    .header__text-box {
        flex-direction: column;
    }
    .header__logo {
        font-size: 16px;
        width: 117px;
    }
    .header__button-for-mobile {
        display: flex;
        align-items: center;
        position: absolute;
        top: 24px;
        left: 285px;
        width: 16px;
        height: 6px;
        cursor: pointer;
        z-index: 3;
    }
    .header__button-for-mobile::before {
        height: 2px;
        width: 100%;
        content: "";
        display: block;
        position: absolute;
        background-color: white;
        top: -2px;
    }
    .header__button-for-mobile::after {
        height: 2px;
        width: 16px;
        content: "";
        display: block;
        position: absolute;
        background-color: white;
        top: 4px;
    }
    .header__toggle:checked ~ .header__button-for-mobile::before {
        transform: rotate(45deg);
        top: 0;
    }
    .header__toggle:checked ~ .header__button-for-mobile::after {
        transform: rotate(-45deg);
        top: 0;
    }
    .header__toggle:checked ~ .header__box-for-mobile {
        top: 1px;
       visibility: visible;
       left: 10px;
    }
    .header__main-link-selected {
        display: none;
    }
    .header__saved-news-link {
        display: none;
    }
    .header__authorize {
        display: none;
    }
  } 