.news-card-list-border {
    background-color: #F5F6F7;
    width: 1440px;
    box-sizing: border-box;
    padding-top: 62px;
    margin: 0 auto;
    padding-bottom: 62px;
}
.news-card-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 16px;
    max-width: 1232px;
    list-style-type: none;
    margin-left: 102px;
    margin-right: 106px;
    padding-left: 5px;
    padding-right: 5px;
}
.news-card-list__title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
}
.news-card-list__button {
    width: 268px;
    height: 64px;
    background-color: white;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-left: 460px;
    color: #1A1B22;
    border: none;
}
@media all and (max-width: 1250px) {
    .news-card-list-border {
        max-width: 768px;
    }
    .news-card-list {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        margin-left: 40px;
        margin-right: 40px;
        grid-gap: 8px;
    }
    .news-card-list__button {
        margin-left: 224px;
        width: 240px;
    }
}
@media all and (max-width: 650px) {
    .news-card-list-border {
        max-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .news-card-list__button {
        width: 288px;
        margin-left: 0;
    }
    .news-card-list {
        margin-left: 0;
        margin-right: 0;
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    }
}